In [6]:
import pandas as pd
df=pd.read_csv("messy_data.csv.csv")
df.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [9]:
import pandas as pd
file_path = 'messy_data.csv.csv'
data = pd.read_csv(file_path)
data_head = data.head()
missing_values_summary = data.isnull().sum()

data_head, missing_values_summary

(   Unnamed: 0                                    ID                     Name  \
 0           0  1e407ff9-6255-489d-a0de-34135d4f74bd            Hunter Thomas
 1           1  379f55b8-87d5-4739-a146-7400b78c24d1             Jeremy Irwin
 2           2  18261368-dfa1-47f0-afc6-bddf45926b07  Jennifer Hammondquickly
 3           3  ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5          Sydney Taylorso
 4           4  14ed3e6a-e0f5-4bbe-8d93-8665267f5c90                Julia Lee

     Age                    Email   Join Date    Salary   Department
 0  25.0       xlopez@hotmail.com         NaN   88552.0        Sales
 1  90.0          Jillian Jenkins  2022-07-07  139227.0          NaN
 2  66.0          jscottgreen.biz  2023-11-21   65550.0  Engineering
 3  39.0       luke56gonzalez.com  2021-11-05  139932.0     SupportJ
 4  71.0  figueroakayla@yahoo.com         NaN  143456.0    Marketing  ,
 Unnamed: 0       0
 ID               0
 Name          2333
 Age           1747
 Email         1269
 Join Date     2192
 Salary        2239
 Department    2255
 dtype: int64)

In [10]:
threshold = len(data) * 0.5
columns_to_drop = [col for col in data.columns if data[col].isnull().sum() > threshold]
data_cleaned = data.drop(columns=columns_to_drop)

numerical_cols = data_cleaned.select_dtypes(include=['float64', 'int64']).columns
data_cleaned[numerical_cols] = data_cleaned[numerical_cols].fillna(data_cleaned[numerical_cols].mean())
categorical_cols = data_cleaned.select_dtypes(include=['object']).columns
data_cleaned[categorical_cols] = data_cleaned[categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))
missing_values_summary_cleaned = data_cleaned.isnull().sum()

data_cleaned.head(), missing_values_summary_cleaned

(   Unnamed: 0                                    ID                     Name  \
 0           0  1e407ff9-6255-489d-a0de-34135d4f74bd            Hunter Thomas
 1           1  379f55b8-87d5-4739-a146-7400b78c24d1             Jeremy Irwin
 2           2  18261368-dfa1-47f0-afc6-bddf45926b07  Jennifer Hammondquickly
 3           3  ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5          Sydney Taylorso
 4           4  14ed3e6a-e0f5-4bbe-8d93-8665267f5c90                Julia Lee

     Age                    Email   Join Date    Salary   Department
 0  25.0       xlopez@hotmail.com  2022-03-31   88552.0        Sales
 1  90.0          Jillian Jenkins  2022-07-07  139227.0      Support
 2  66.0          jscottgreen.biz  2023-11-21   65550.0  Engineering
 3  39.0       luke56gonzalez.com  2021-11-05  139932.0     SupportJ
 4  71.0  figueroakayla@yahoo.com  2022-03-31  143456.0    Marketing  ,
 Unnamed: 0    0
 ID            0
 Name          0
 Age           0
 Email         0
 Join Date     0
 Salary        0
 Department    0
 dtype: int64)

In [13]:
data_cleaned_sample = data_cleaned.head(7107)

cleaned_file_path = 'cleaned_dataset.csv'
data_cleaned.to_csv(cleaned_file_path, index=False)

data_cleaned_sample, cleaned_file_path

(      Unnamed: 0                                    ID  \
 0              0  1e407ff9-6255-489d-a0de-34135d4f74bd
 1              1  379f55b8-87d5-4739-a146-7400b78c24d1
 2              2  18261368-dfa1-47f0-afc6-bddf45926b07
 3              3  ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5
 4              4  14ed3e6a-e0f5-4bbe-8d93-8665267f5c90
 ...          ...                                   ...
 7102        7102  784f6cca-d9ae-4891-913b-6558325cb669
 7103        7103  897338dc-46ec-4a25-b505-314eeaa9035d
 7104        7104  9c1bb0a9-1097-41ca-a55b-21d18ab671f0
 7105        7105  70a75065-2225-4c1f-a03f-ed266041f082
 7106        7106  68ac5636-1732-47c1-aff9-273db7bbf36b

                          Name       Age                    Email   Join Date  \
 0               Hunter Thomas  25.00000       xlopez@hotmail.com  2022-03-31
 1                Jeremy Irwin  90.00000          Jillian Jenkins  2022-07-07
 2     Jennifer Hammondquickly  66.00000          jscottgreen.biz  2023-11-21
 3             Sydney Taylorso  39.00000       luke56gonzalez.com  2021-11-05
 4                   Julia Lee  71.00000  figueroakayla@yahoo.com  2022-03-31
 ...                       ...       ...                      ...         ...
 7102              Tanya Burch  54.16265   jasonmartinezgmail.com  2022-05-19
 7103       Elizabeth Williams  54.16265      fwilliams@yahoo.com  2022-03-31
 7104          Jeffery Shepard  25.00000       adrienne82@cox.com  2023-05-20
 7105            Richard Brown  23.00000      hhamilton@gmail.com  10/08/1982
 7106        Jonathan Anderson  47.00000      gthomas@hotmail.com  2023-03-31

              Salary   Department
 0      88552.000000        Sales
 1     139227.000000      Support
 2      65550.000000  Engineering
 3     139932.000000     SupportJ
 4     143456.000000    Marketing
 ...             ...          ...
 7102  154923.514148      Support
 7103   89886.585012      Support
 7104  114636.000000  Engineering
 7105   36527.435177       Salesx
 7106   86842.000000      Support

 [7107 rows x 8 columns],
 'cleaned_dataset.csv')

In [14]:
data_cleaned = pd.read_csv('cleaned_dataset.csv')

data_unique = data_cleaned.drop_duplicates()
duplicates_removed = len(data_cleaned) - len(data_unique)
print(f"Number of duplicate rows removed: {duplicates_removed}")

unique_file_path = 'cleaned_dataset.csv'
data_unique.to_csv(unique_file_path, index=False)

print(f"Unique dataset saved to: {unique_file_path}")

Number of duplicate rows removed: 291
Unique dataset saved to: cleaned_dataset.csv

In [15]:
import pandas as pd
import re

data_unique = pd.read_csv('cleaned_dataset.csv')

def is_valid_email(email):
    regex = r'^\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    return re.match(regex, email) is not None

def correct_email_format(email):
    if not is_valid_email(email):
        return None  
    return email

data_unique['Email'] = data_unique['Email'].apply(correct_email_format)
professional_domains = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com']

def is_professional_email(email):
    if email:
        domain = email.split('@')[-1]
        return domain in professional_domains
    return False

data_professional_emails = data_unique[data_unique['Email'].apply(is_professional_email)]

professional_emails_file_path = 'cleanedd_dataset.csv'
data_professional_emails.to_csv(professional_emails_file_path, index=False)

print(f"Dataset with professional email addresses saved to: {professional_emails_file_path}")

Dataset with professional email addresses saved to: cleanedd_dataset.csv

In [16]:
data_professional_emails = pd.read_csv('cleanedd_dataset.csv')

def clean_name(name):
    clean_name = re.sub(r'[^a-zA-Z\s]', '', name).strip()
    clean_name = ' '.join([part.capitalize() for part in clean_name.split()])
    return clean_name

data_professional_emails['Name'] = data_professional_emails['Name'].apply(clean_name)
cleaned_names_file_path = 'cleanedd_datase.csv'
data_professional_emails.to_csv(cleaned_names_file_path, index=False)

print(f"Dataset with cleaned names saved to: {cleaned_names_file_path}")

Dataset with cleaned names saved to: cleanedd_datase.csv

In [17]:
data_cleaned_names = pd.read_csv('cleanedd_dataset.csv')

def standardize_date(date_str):
    try:
        standardized_date = pd.to_datetime(date_str, errors='coerce').strftime('%Y-%m-%d')
    except Exception:
        standardized_date = None
    return standardized_date
data_cleaned_names['Join Date'] = data_cleaned_names['Join Date'].apply(standardize_date)
standardized_dates_file_path = 'cleanedd_datasett.csv'
data_cleaned_names.to_csv(standardized_dates_file_path, index=False)

print(f"Dataset with standardized dates saved to: {standardized_dates_file_path}")

Dataset with standardized dates saved to: cleanedd_datasett.csv

In [18]:
data_standardized_dates = pd.read_csv('cleanedd_datasett.csv')

department_mapping = {
    'HR': 'HR',
    'HRs': 'HR',
    'Engineering': 'Engineering',
    'Engineeringm': 'Engineering',
    'Marketing': 'Marketing',
    'Sales': 'Sales',
    'SalesE': 'Sales',
    'SalesY': 'Sales',
    'Salest': 'Sales',
    'SalesD': 'Sales',
    'Support': 'Support',
    'Enginering': 'Engineering',
    'Mktg': 'Marketing',
    'Marketinge': 'marketing',
    'MarketingR': 'Marketing',
    'Slaes': 'Sales',
    'SalesM': 'Sales',
    'Suport': 'Support',
    'SupportJ': 'Support',
    'SupportE': 'Support',
    'SupportF': 'Support',
}

def correct_department(dept):
    return department_mapping.get(dept, dept)

data_standardized_dates['Department'] = data_standardized_dates['Department'].apply(correct_department)
standardized_departments_file_path = 'leanedd_datasett.csv'
data_standardized_dates.to_csv(standardized_departments_file_path, index=False)

print(f"Dataset with standardized department names saved to: {standardized_departments_file_path}")

Dataset with standardized department names saved to: leanedd_datasett.csv

In [19]:
data_standardized_departments = pd.read_csv('leanedd_datasett.csv')

data_standardized_departments['Salary'] = pd.to_numeric(data_standardized_departments['Salary'], errors='coerce')
min_salary = 30000
max_salary = 200000

data_standardized_departments = data_standardized_departments[(data_standardized_departments['Salary'] >= min_salary) & 
                                                              (data_standardized_departments['Salary'] <= max_salary)]
mean_salary = data_standardized_departments['Salary'].mean()
data_standardized_departments['Salary'].fillna(mean_salary, inplace=True)

cleaned_salary_file_path = 'cleaned_dataset.csv'
data_standardized_departments.to_csv(cleaned_salary_file_path, index=False)

print(f"Dataset with cleaned salary values saved to: {cleaned_salary_file_path}")

Dataset with cleaned salary values saved to: cleaned_dataset.csv